In [46]:
import pandas as pd

In [47]:
df = pd.read_excel("./Trip and visit WY24_25 Database.xlsx")
df

/home/vscode/.local/lib/python3.11/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,S/N,Departure Date,Return Date,Type,Country,Status,Level,Del Lead,Lead,Lead Dte,...,Service,Tier,Station,Confluence Link,AOR,Budgeted Amt,Utilised Amt,Remarks,Month,Year
0,1,2024-05-01,2024-05-02,Trip (Outgoing),Thailand,Cancelled,NaN,Director,ADS,A Dte,...,ABC,ASEAN A,BKK,www.google.com.sg,asd,987.0,546.0,nil,May,2024.0
1,2,2024-05-29,2024-06-01,Trip (Outgoing),Brunei,Completed,NaN,BB,FDW,B Dte,...,DEF,A,BRN,www.google.com.sg,sada,51631.0,897.0,nil,May,2024.0
2,3,2024-09-19,2024-09-20,Trip (Outgoing),France,Planned,NaN,HOD,DSG,C Dte,...,GHI,A+,PAR,www.google.com.sg,asdas,987.0,51.0,nil,September,2024.0
3,4,2024-04-12,2024-04-15,Trip (Outgoing),Netherlands,Postponed,NaN,Working,GHT,D Dte,...,JKL,ASEAN A,LON,www.google.com.sg,sadas,987.0,9.0,nil,April,2024.0
4,5,2024-10-20,2024-10-21,Trip (Outgoing),Kenya,Scheduled,NaN,Chief,SWW,E Dte,...,MNO,B,ABD,www.google.com.sg,das,894.0,8.0,nil,October,2024.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,997,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,998,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,999,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,1000,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
df.hide_index = True
df

Empty DataFrame
Columns: [S/N, Departure Date, Return Date, Type, Country, Status, Level, Del Lead, Lead, Lead Dte, CG, Stakeholder, Service, Tier, Station, Confluence Link, AOR, Budgeted Amt, Utilised Amt, Remarks, Month, Year]
Index: []

[0 rows x 22 columns]