In [1]:
import pandas as pd

In [5]:
pd.read_excel("./Trip and visit WY24_25 Database.xlsx")

/home/vscode/.local/lib/python3.11/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,S/N,Country,Service,Type,Departure Date,Return Date,Status,Level,Del Head,Confluence Link
0,1,Thailand,ABC,Trip (Outgoing),2024-05-01,2024-05-02,Cancelled,Director,ADS,www.google.com.sg
1,2,Brunei,DEF,Trip (Outgoing),2024-05-29,2024-06-01,Completed,BB,FDW,NaN
2,3,France,GHI,Trip (Outgoing),2024-09-19,2024-09-20,Planned,HOD,DSG,NaN
3,4,Netherlands,JKL,Trip (Outgoing),2024-04-12,2024-04-15,Postponed,Working,GHT,NaN
4,5,Kenya,MNO,Trip (Outgoing),2024-10-20,2024-10-21,Scheduled,EXCO,SWW,NaN
...,...,...,...,...,...,...,...,...,...,...
995,996,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
996,997,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
997,998,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
998,999,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
999,1000,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN